body{
  margin:10px 10px 10px 0;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
  height:100vh;
}

:root{
  --box-shadow-color: #4C4E61;
  font-family: 'Poppins', sans-serif;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-box{
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.header-intro{
  font-size: 1.8rem;
  color: hsl(229, 6%, 66%);
  margin-bottom: 0;
}
.header{
  margin: 0 0 10px 0;
}

.header-details{
  width: 500px;
  color: hsl(229, 6%, 66%);
  font-size: .9rem;
  margin: 0;
}
.flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feature{
  width: 350px;
  height: 250px;
  background-color: white;
  margin: 0 20px;
  border-radius: 5px;
  padding-left: 25px;
  box-sizing: border-box;
  box-shadow: 2px 5px 8px var(--box-shadow-color);
}

.team-builder{
  margin-bottom: 35px;
}
.box-header{
  font-size: 1.5em;
  color: black;
}

.feature-line-1{
  width: 350px;
  height: 5px;
  background-color: hsl(180, 62%, 55%);
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
  float: right;
}
.feature-line-2{
  width: 350px;
  height: 5px;
  background-color: hsl(0, 78%, 62%);
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
  float: right;
}
.feature-line-3{
  width: 350px;
  height: 5px;
  background-color: hsl(34, 97%, 64%);
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
  float: right;
}
.feature-line-4{
  width: 350px;
  height: 5px;
  background-color: hsl(212, 86%, 64%);
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
  float: right;
}

.icons{
  float: right;
  margin-right: 30px;
}

.footer-box{
  text-align: center;
}

.attribution-link{
  color: hsl(34, 97%, 64%);
  text-decoration: none;
}

@media (max-width: 1000px){
  .flex-container{
    flex-direction: column;
  }
}

@media (max-width: 1000px){
  .header-box{
    margin: 30px;

  }
}

@media (max-width: 1000px){
  .header-details{
    width: auto;
  }
}
